{% include 'recipes/partials/headteste.html'%}

<body>
    <header class="main-header-container">
        <div class="main-header container">
            <a class="main-logo" href=" ">
                <span class="text-header">Aprenda HTML</span>
            </a>
        </div>
    </header>

    <p>Pagina teste para aprender todas as tags do HTML.</p>
    <a href=" ">home</a>
    &#x1F525
    &#x1F4A3

    <p>Logo JavaScript LINK internet</p>
    <img src="https://miro.medium.com/v2/resize:fit:640/format:webp/0*4tULZP6SMFXFHyc9.png" alt="Logo JavaScript">
</body>

</html>