<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://127.0.0.1:8000/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu HTML</title>
</head>

<body>
    <h1>Meu HTML</h1>
    <p>Pagina teste para aprender todas as tags do HTML.
    </p>
    <a href=" ">home</a>
    &#x1F525
    &#x1F4A3

    <p>Logo JavaScript LINK internet</p>
    <img src="https://miro.medium.com/v2/resize:fit:640/format:webp/0*4tULZP6SMFXFHyc9.png" alt="Logo JavaScript">


</body>

</html>